html {
    background-color: #001829;
    color: #fff;
    font-size: 1em;
    line-height: 1em;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

body {
    font-size:  22px;
    font-family: 'Marcellus', serif;
}

h1 {
    font-size: 1.5em;
    line-height: 1.2em;
}

p {
    font-size: 1em;
    line-height: 1.4em;
}

a {
    color: #fff;
}

a:link {
    color: #fff;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #fff;
}

a:active {
    color: #fff;
}

a.theme {
    display: inline-block;
    padding: 0.35em;
    border: 0.1em solid #fff;
    margin: 1em 0 0 1em;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
}

@media all and (max-width:30em) {
     a.theme {
        display: block;
        margin: 0.4em auto;
    }
}

.header {
    padding: 5% 15%;
}

.section-1 {
    background-color: #00243D;
    padding: 5% 15%;
}

.section-2 {
    background-color: #002B49;
    padding: 5% 15%;
}

.section-3 {
    background-color: #003C66;
    padding: 5% 15%;
}

.section-4 {
    background-color: #00477A;
    padding: 5% 15%;
}

.section-5 {
    background-color: #003C66;
    padding: 5% 15%;
}

.footer {
    padding: 5% 15%;
}

.quote {
    padding: 5% 10%;   
}

@media only screen and (min-width: 480px) {

    .header {
        padding: 5% 15%;
    }
    
    .section-1 {
        background-color: #00243D;
        padding: 5% 15%;
    }
    
    .section-2 {
        background-color: #002B49;
        padding: 5% 15%;
    }
    
    .section-3 {
        background-color: #003C66;
        padding: 5% 15%;
    }
    
    .section-4 {
        background-color: #00477A;
        padding: 5% 15%;
    }
    
    .section-5 {
        background-color: #003C66;
        padding: 5% 15%;
    }
    
    .footer {
        padding: 5% 15%;
    }
    
    .quote {
        padding: 5% 10%;   
    }
}

@media only screen and (min-width: 768px) {

    h1 {
        font-size: 1.8em;
        line-height: 1.4em;
    }
    
    p {
        font-size: 1.1em;
        line-height: 1.4em;
    }

    .header {
        padding: 10% 25% 5% 25%;
    }
    
    .section-1 {
        padding: 5% 25%;
    }
    
    .section-2 {
        padding: 5% 25%;
    }
    
    .section-3 {
        padding: 5% 25%;
    }
    
    .section-4 {
        padding: 5% 25%;
    }
    
    .section-5 {
        padding: 5% 25%;
    }
    
    .footer {
        padding: 5% 25%;
    }
    
    .quote {
        padding: 5% 10%;   
    }
}